body {
  background: white;
  padding: 0;
}

.navbar a {
  display: block;
  color: red;
}
.navbar {
  background: black;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel img {
  height: 500px;
}
.carousel-slide {
  margin: 0;
}

.content {
  background: white;
  max-width: 100%;
  margin: 0 auto;
}

.gallery {
  margin: 0 auto;
  padding: 20px;
}

img {
  margin: 5px;
  transition: all 200ms ease-in-out;
  text-align: center;
}
img:hover {
  opacity: 0.9;
}
.about-us-wrapper {
  background: #f8f9fa;
}
.about-us {
  margin: 20px auto 0;
  padding: 30px;
}

.contact-us {
  margin: 20px auto 0;
}
.contact-us-wrapper {
  color: white;
  background: black;
  margin: auto 0;
  padding: 25px;
}

.map {
  border-radius: 10px;
  filter: grayscale(100%);
  transition: all 200ms all ease-in-out;
  width: 100%;
}

.map:hover {
  filter: none;
}

.eshop-wrapper {
  background: #f8f9fa;
}
.eshop-content {
  margin: 20px auto 0;
  padding: 20px;
  border: 1px solid;
}

.columns {
  border: 1px solid;
}

.social {
  padding: 75px 0 0 0;
}

.navigation-wrapper {
  margin: 0 auto;
  width: 100%;
}
.navigation {
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  top: 76px;
}

/* Do not forget to code "sticky" footer */
